<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ZELDA HOME</title>
  <meta name="author" content="Brad">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="blogposts">
    </div>
    <form id="form" action="/addPost" method="post">
        <textarea type="text" name="blogposts"  rows="20" cols="100"></textarea>
        <input type="hidden" name="displayname" value="anonymous"/>
        <input type="submit" value="post"/>
    </form>
</body>
</html>